@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"), url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy") url("./fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
    url("./fonts/SuisseIntl-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}
